[submodule "packages/postgres-array"]
	path = packages/postgres-array
	url = https://github.com/pg-nano/postgres-array
[submodule "packages/postgres-bytea"]
	path = packages/postgres-bytea
	url = https://github.com/pg-nano/postgres-bytea
[submodule "packages/postgres-date"]
	path = packages/postgres-date
	url = https://github.com/pg-nano/postgres-date
[submodule "packages/postgres-interval"]
	path = packages/postgres-interval
	url = https://github.com/pg-nano/postgres-interval
[submodule "packages/postgres-range"]
	path = packages/postgres-range
	url = https://github.com/pg-nano/postgres-range
[submodule "packages/libpq"]
	path = packages/libpq
	url = https://github.com/pg-nano/node-libpq
[submodule "packages/pg-schema-diff"]
	path = packages/pg-schema-diff
	url = https://github.com/pg-nano/pg-schema-diff
[submodule "packages/postgres-composite"]
	path = packages/postgres-composite
	url = https://github.com/pg-nano/postgres-composite
