version: '3'
services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "54322:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: